@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.border {
  position: relative;
  border-top: solid 1px $accent-blue;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;

  border-right: solid 1px $accent-blue;
  border-left: solid 1px $accent-blue;
}

.link {
  text-decoration: none;
  @media screen and (min-width: 744px) {
    @include text-body-tablet($light-gray);
  }
  @media screen and (min-width: 1440px) {
    @include text-body-web($white);
  }
}

.text {
  height: 100%;
  @media screen and (min-width: 744px) {
    @include text-body-tablet($light-gray);
  }
  @media screen and (min-width: 1440px) {
    @include text-body-web($white);
  }
}

.list {
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 744px) {
    padding: 34px 61.5px;
  }
  @media screen and (min-width: 1440px) {
    padding: 35px 116px;
  }
}

.listItem {
  &:not(:last-child) {
    margin-right: 40px;
  }
  @media screen and (min-width: 744px) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  @media screen and (min-width: 1440px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.icon {
  height: 32px;
  width: 32px;
}
