@import "../../styles/_variables.scss";

.imageContainer {
  position: relative;
  width: 233px;
  height: 311px;
  // top: -1px;
  // bottom: -1px;
  // left: -1px;
  // right: -1px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    outline: 1px solid $accent-blue;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}
