@import "../../styles/_variables.scss";

.imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 95.11%;

  @media screen and (min-width: 744px) {
    padding-bottom: 44.69%;
  }

  @media screen and (min-width: 1440px) {
    height: 311px;
    width: 233px;
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid $accent-blue;
  }
}

.image {
  position: absolute;

  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  object-position: top;

  transition: opacity 2s ease-in-out;

  &.active {
    opacity: 1;
  }
}
