@import "../../styles/mixins.scss";

.containerText {
  margin: 0 auto;
  padding: 0 24px 0 24px;
  margin-bottom: 24px;
}

.description {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 744px) {
    justify-content: space-between;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 90px;
    justify-content: center;
  }
}

.subTitle {
  @include text-sub-title-mobile;
  margin-bottom: 12px;

  @media screen and (min-width: 744px) {
    @include text-sub-title-tablet;
  }

  @media screen and (min-width: 1440px) {
    @include text-sub-title-web;
    margin-right: 24px;
  }
}

.text {
  @include text-body-mobile($light-gray);

  @media screen and (min-width: 744px) {
    @include text-body-tablet($light-gray);
    max-width: 460px;
  }
  @media screen and (min-width: 1440px) {
    @include text-body-web($light-gray);
    max-width: 600px;
  }
}

.containerCardsList {
  margin: 0 auto;
  padding: 0 22px 0 24px;
}

.cardsList {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 744px) {
    gap: 16px;
  }
  @media screen and (min-width: 1440px) {
    gap: 40px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  outline: 1px solid $accent-blue;
  width: 100%;
  img {
  }
}

.cardImage {
  @media screen and (min-width: 744px) {
    height: 240px;
  }
  @media screen and (min-width: 1440px) {
    height: 307px;
  }
}

.cardContent {
  @media screen and (min-width: 744px) {
    padding: 16px;
  }
  @media screen and (min-width: 1440px) {
    padding: 24px 0 24px 24px;
  }

  h4 {
    @media screen and (min-width: 744px) {
      @include text-sub-title-tablet;
      line-height: 28px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1440px) {
      @include text-sub-title-web;
      line-height: 33.6px;
    }
  }

  span {
    @media screen and (min-width: 744px) {
      display: flex;
    }
    @media screen and (min-width: 1440px) {
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  p {
    color: $light-gray;
    letter-spacing: -0.36px;
    @media screen and (min-width: 744px) {
      max-width: 189px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1440px) {
      max-width: 344px;
    }
  }
}

.buttonWrapper {
  display: flex;
  @media screen and (min-width: 744px) {
  }
}

.button {
  @include button;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.28px;

  padding: 10px 16px;
  @media screen and (min-width: 744px) {
    flex: 1;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 12px 23px;
  }
  @media screen and (min-width: 1440px) {
    padding: 12px 90px;
  }
}

.arrow {
  width: auto;
  max-height: 16px;
  margin-right: 6.45px;
}
