@import "../../styles/mixins.scss";

.containerText {
  margin: 0 auto;
  padding: 0 24px 0 24px;
  margin-bottom: 24px;

  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 0 120px;
    width: $screen-web;
  }
}

.description {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $screen-web) {
    margin-bottom: 90px;
    justify-content: center;
  }
}

.subTitle {
  @include text-sub-title-mobile;
  margin-bottom: 12px;

  @media screen and (min-width: $screen-tablet) {
    min-width: 221px;

    @include text-sub-title-tablet;

    white-space: nowrap;

    margin-bottom: 0;
    margin-right: 15px;
  }

  @media screen and (min-width: $screen-web) {
    @include text-sub-title-web;
    margin-right: 24px;
  }
}

.text {
  @include text-body-mobile($light-gray);

  @media screen and (min-width: $screen-tablet) {
    display: block;
    box-sizing: border-box;
    @include text-body-tablet($light-gray);
  }

  @media screen and (min-width: $screen-web) {
    @include text-body-web($light-gray);
    max-width: 601px;
  }
}

.containerCardsList {
  margin: 0 auto;
  padding: 0 22px 0 24px;

  @media screen and (min-width: $screen-tablet) {
    padding: 0 25px 0 24px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 0 120px;
    width: $screen-web;
  }
}

.cardsList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: $screen-web) {
    gap: 40px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  outline: 1px solid $accent-blue;
  width: 100%;

  @media screen and (min-width: $screen-tablet) {
    justify-content: space-between;
  }
}

.wrapperCardContent {
  width: 100%;
  margin-bottom: 24px;

  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 16px;
  }
}

.containerImage {
  position: relative;
  width: 100%;
  padding-bottom: 71%;

  @media screen and (min-width: $screen-tablet) {
    padding-bottom: 109%;
  }

  @media screen and (min-width: $screen-web) {
    padding-bottom: 0;
  }
}

.cardImage {
  position: absolute;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $screen-tablet) {
  }

  @media screen and (min-width: $screen-web) {
    position: static;
    height: 307px;
  }
}

.cardContent {
  padding: 16px 16px 0px 16px;

  @media screen and (min-width: $screen-tablet) {
    padding: 16px 16px 0px 16px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 24px 24px 0px 24px;
  }

  h4 {
    @include text-sub-title-mobile;
    text-transform: none;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-tablet) {
      @include text-sub-title-tablet;
      text-transform: none;
      line-height: 28px;
    }

    @media screen and (min-width: $screen-web) {
      display: flex;
      @include text-sub-title-web;
      text-transform: none;
      line-height: 33.6px;
    }
  }

  span {
    &:first-child {
      margin-right: 16px;
    }

    @media screen and (min-width: $screen-tablet) {
      display: flex;

      &:first-child {
        margin-right: 0px;
      }
      &:not(:last-child) {
        padding-bottom: 4px;
      }
    }

    @media screen and (min-width: $screen-web) {
      &:not(:last-child) {
        padding-bottom: 0px;
      }
      &:first-child {
        margin-right: 16px;
      }
    }
  }

  p {
    width: 100%;
    @include text-body-mobile($light-gray);

    @media screen and (min-width: $screen-tablet) {
      @include text-body-tablet($light-gray);
    }

    @media screen and (min-width: $screen-web) {
      @include text-body-web($light-gray);
    }
  }
}

.wrapperButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 16px 24px 16px;

  @media screen and (min-width: $screen-tablet) {
    padding: 0px 16px 16px 16px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 0px 24px 24px 24px;
  }
}

.buttonLink {
  width: 100%;
  display: flex;

  text-decoration: none;
}

.button {
  @include button;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  width: 100%;

  padding: 16px 0;

  @media screen and (min-width: $screen-tablet) {
    flex: 1;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 12px 23px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 12px 90px;
  }
}

.arrow {
  width: 15px;
  height: 16px;
  margin-right: 6.5px;

  @media screen and (min-width: $screen-web) {
    width: 16.7px;
  }
}
