.container {
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  @media screen and (min-width: 744px) {
    margin: 0 auto;
    padding: 0 24px;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;
  }
}
