@import "../../styles/mixins.scss";

.border {
  position: relative;
  top: 1px;
  border-top: 1px solid $accent-blue;
  border-bottom: 1px solid $accent-blue;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  @include text-body-web;
  padding-top: 159px;

  padding-left: 24px;

  max-width: 640px;
}

.collectionImages {
  display: flex;
  flex-direction: row;
}

.runningTextWrapper {
  overflow: hidden;
  width: 100%;
}

.runningText {
  font-family: $font-kanit-500;
  font-size: 340px;
  font-style: normal;
  line-height: 426.36px;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.wrapperTablet {
  display: flex;
  flex-direction: column;
}
