@import "../../styles/mixins.scss";

.containerPictures {
  margin: 0 auto;
  padding-left: 22px;
  overflow: hidden;
}

.border {
  position: relative;
  margin-top: 1px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top: 1px solid $accent-blue;
    border-bottom: 1px solid $accent-blue;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.containerText {
  margin: 0 auto;
  padding-left: 24px;
  overflow: hidden;
}

.text {
  @include text-body-mobile;

  @media screen and (min-width: 744px) {
    @include text-body-tablet;
    padding-left: 0;
  }

  @media screen and (min-width: 1440px) {
    @include text-body-web;
    margin-right: 70px;
    padding-top: 13%;
    padding-bottom: 55px;
    padding-left: 24px;
  }
}

.collectionImages {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.runningTextWrapper {
  overflow: hidden;
  width: 100%;
}

.runningText {
  font-family: $font-kanit-500;

  font-style: normal;

  white-space: nowrap;
  animation: marquee-375 15s linear infinite;

  font-size: 120px;
  line-height: 150.5px;
  letter-spacing: 0;
  font-weight: 500;
  margin: 15px 0;

  @media screen and (min-width: 744px) {
    font-size: 280px;
    line-height: 100%;
    margin: 13px 0;
    animation-name: marquee-744;
  }
  @media screen and (min-width: 1440px) {
    font-size: 340px;
    line-height: 426.36px;
    margin: 0;
  }
}

@keyframes marquee-375 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes marquee-744 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-240%);
  }
}

@keyframes marquee-1440 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}
