@import "./variables.scss";

// Title text
@mixin text-title-web($color: $white) {
  color: $color;
  font-family: $font-kanit-400;
  font-size: 140px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

@mixin text-title-tablet($color: $white) {
  color: $color;
  font-family: $font-kanit-400;
  font-size: 112px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

@mixin text-title-mobile($color: $white) {
  color: $color;
  font-family: $font-kanit-400;
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0;
}

// SubTitle text
@mixin text-sub-title-web($color: $white) {
  color: $color;
  font-family: $font-kanit-500;
  font-size: 24px;
  font-style: normal;
  line-height: 140%;
  text-transform: capitalize;
}

@mixin text-sub-title-tablet($color: $white) {
  color: $color;
  font-family: $font-kanit-500;
  font-size: 20px;
  font-style: normal;
  line-height: 140%;
  text-transform: capitalize;
}

@mixin text-sub-title-mobile($color: $white) {
  color: $color;
  font-family: $font-kanit-500;
  font-size: 16px;
  font-style: normal;
  line-height: 22.4px;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 500;
}

// Body text
@mixin text-body-web($color: $white) {
  color: $color;
  font-family: $font-roboto-400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
}

@mixin text-body-tablet($color: $white) {
  color: $color;
  font-family: $font-roboto-400;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

@mixin text-body-mobile($color: $white) {
  color: $color;
  font-family: $font-roboto-400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.28px;
}

// Button
@mixin button($bg-color: $button-bg-color, $text-color: $button-text-color) {
  font-family: $font-roboto-500;
  font-style: normal;

  outline: none;
  border: none;
  padding: 0;

  background-color: $bg-color;
  color: $text-color;

  cursor: pointer;

  &:hover {
    background-color: $button-bg-color-hover;
  }
  @media screen and (min-width: 744px) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}
