// Background Color
$primary-background-color: #060412;

// Colors
$white: #fff;
$black: #000;
$accent-blue: #204ffe;
$dark-gray: #2f2f2f;
$light-gray: #b3b3b3;
$warning-rose: #eb3795;

// Fonts and typography
$font-kanit-400: "Kanit-400", sans-serif;
$font-kanit-500: "Kanit-500", sans-serif;
$font-roboto-400: "Roboto-400", sans-serif;
