@import "normalize.css";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

:root {
  @include text-body-web($white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  background-color: $primary-background-color;
}
