@import "../../styles/mixins.scss";

.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid $white;

  @media screen and (min-width: 744px) {
    @include text-title-tablet;
    line-height: 140px;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1440px) {
    @include text-title-web;
    margin-bottom: 90px;
  }
}
