@import "../../styles/mixins.scss";

.container {
  margin: 0 auto;
  margin-bottom: 32px;

  @media screen and (min-width: 744px) {
    padding: 0 24px;
    margin-bottom: 56px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 120px 0 120px;
    width: 1440px;
    margin-bottom: 90px;
  }
}

.title {
  display: flex;
  justify-content: space-between;

  @include text-title-mobile($white);

  padding: 0 24px 16px 24px;

  border-bottom: 1px solid $white;

  @media screen and (min-width: 744px) {
    @include text-title-tablet($white);
    padding: 0;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 1440px) {
    @include text-title-web($white);
  }
}
