@import "../../styles/mixins.scss";

header {
  position: sticky;
  top: 0;
  background-color: $primary-background-color;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 4px 24px 13px 24px;

  @media screen and (min-width: $screen-tablet) {
    padding: 15px 22px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 15px 120px;
    width: $screen-web;
    margin: 0 auto;
  }
}
