@import "../../styles/mixins.scss";

header {
  position: sticky;
  top: 0;
  background-color: $primary-background-color;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 4px 24px 13px 24px;

  @media screen and (min-width: $screen-tablet) {
    padding: 15px 22px;
  }

  @media screen and (min-width: $screen-web) {
    padding: 15px 120px;
    width: $screen-web;
    margin: 0 auto;
  }
}

.logo {
  width: 34.5px;
  height: 19.5px;
}

.button {
  @include button;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: $font-roboto-500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.28px;
  font-weight: 500;

  padding: 10px 16px;
  @media screen and (min-width: $screen-tablet) {
    line-height: 24px;
    letter-spacing: 0.32px;
    font-size: 16px;

    padding: 12px 66px;
  }
}

.arrow {
  height: 16px;
  width: 15.86px;
  margin-right: 6.21px;
}

.buttonLink {
  text-decoration: none;
}
