@import "../../styles/_mixins.scss";
.section {
  margin-bottom: 69px;
}

.container {
  margin: 0 auto;
  padding: 0 24px 0 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 744px) {
    flex-direction: column;
    padding-bottom: 76px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    padding-bottom: 113px;
  }
}

.content {
  margin-bottom: 32px;

  @media screen and (min-width: 744px) {
    margin-bottom: 56px;
    &:first-child {
      padding-right: 98px;
    }
  }
  @media screen and (min-width: 1440px) {
    width: 50%;
    &:first-child {
      padding-right: 66px;
    }
  }
}

.title {
  @include text-sub-title-mobile;
  margin-bottom: 12px;

  @media screen and (min-width: 744px) {
    @include text-sub-title-tablet;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1440px) {
    @include text-sub-title-web;
    letter-spacing: 0.48px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}

.text {
  @include text-body-mobile($light-gray);

  @media screen and (min-width: 744px) {
    @include text-body-tablet($light-gray);
  }
  @media screen and (min-width: 1440px) {
    @include text-body-web($light-gray);
    line-height: 28px;
  }
}

.arrow {
  margin-top: 40px;
  @media screen {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;

  padding: 24px 16px;

  border: 1px solid $accent-blue;

  @media screen and (min-width: 1440px) {
    padding: 55px 40px;
  }
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  &.requiredField::before {
    content: "*";
    position: absolute;

    color: $warning-rose;

    font-family: $font-roboto-400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;

    padding: 8px 0;
    bottom: 54%;
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;

  border-bottom: 1px solid $white;

  @include text-body-mobile($light-gray);
  padding: 8px 0 14px 30px;
  margin-bottom: 44px;

  @media screen and (min-width: 744px) {
    @include text-body-tablet($light-gray);
  }
  @media screen and (min-width: 1440px) {
    @include text-body-web($light-gray);

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 30px;
    margin-bottom: 44px;
  }

  &:focus {
    outline: none;
    color: $white;
  }
}

.error {
  position: absolute;
  font-family: $font-roboto-500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.26px;
  color: $warning-rose;
  top: 42px;
}

.button {
  @include button;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 11px 0 13px 0;
  width: 100%;

  font-family: $font-roboto-500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  @media screen and (min-width: 1440px) {
    padding-left: 56px;
    padding-right: 71px;
    padding-top: 11px;
    padding-bottom: 13px;
  }

  img {
    margin-right: 14px;
  }
}
