.section {
  &:not(:last-child) {
    padding-bottom: 127px;
  }
  @media screen and (min-width: 744px) {
    &:not(:last-child) {
      padding-bottom: 90px;
    }
  }
  @media screen and (min-width: 1440px) {
    &:not(:last-child) {
      padding-bottom: 66px;
    }
  }
}
